:root {
  --primary-color: #055a05; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}
header, main, footer {
  width: 840px;
  margin: 0 auto;
}
header {
    /* display: flex; */
    border-color: black;
    border-width: 1px;
    /* justify-content: space-around; */
    /* grid-column-start: 5; */
    display: grid;
    /* grid-template-rows: 1fr 1fr;
    grid-gap: 50px; */
    grid-template-columns: 200px auto;


    
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}   
header a {
    text-decoration: none;
    /* display: flex;
    flex-direction: row; */
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  /* opacity: 0.7; */
  background-color: var(--accent1-color);
  color: #fff;
}
/* nav, section, article {
  margin: 16px;
  padding: 8px;
} */

main {
}
.hero {
  position: relative;
  margin-bottom: 24px;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
h1 { 
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: #000;
  color: #fff; /* white text - make sure there is enough contrast with the background-color */
/* } had an h2 */
}
article {
    background-color: #000000b8;
    color: #fff;
    position: absolute;
    bottom: 35%;
    padding: 24px;
  
}
.hero article img {
  float: right;
  width: 125px;
  margin-left: 24px;
}
article p {
}
section {
  margin-bottom: 24px;
}
section h2 {
  background-color: black;
  margin-bottom: 24px;
  padding: 16px 0;
}
section img {
width: 40%;
}
section p {
  text-align: left;
}
.sub-history {
  display: flex;
  margin-bottom: 24px;
  gap: 24px;
}
.raft-img {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
}
figure {
    width: 145px;
    
}
.raft-img img{
  width: 145px;
  height: 90%;
  /* align-items: stretch; */
}
.section-adventure {
  margin-bottom: 24px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
    color: white;
    background-color: #000;
        margin-top: 40px;
}
footer p {
  padding-top:10px;
}
footer nav img {
    width: 40px;
    height: 40px;
    padding: 5px;
}
.socialmedia {
  display:flex;
  justify-content: flex-end;
}
.socialmedia a {
    text-decoration: none;
    align-items: stretch;
    
}
/* * * * * */
.about h1 {

}
.contact-info {
  text-align: center;
  margin-bottom: 24px;
}
.row-3 {
  display: flex;
}
.input {
  display: flex;
  flex-direction: row;
}
.labels {
    display: grid;
    grid-template-columns: auto 1fr; /* Label takes auto width, input takes remaining */
    align-items: center;
    gap: 10px;
}
.message-purpose {
    display: grid;
    grid-template-columns: auto 1fr; /* Label takes auto width, input takes remaining */
    align-items: center;
    gap: 10px; 
}
.message-textarea {
  display: flex;
  flex-direction: column;
}
